body {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    overflow-y: hidden;
}

.clock {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    border-radius: 50%;
    margin: 50px auto;
    padding: 1rem;
    top: 0;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.44, 0.71, 0.67, 1.27);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0px)
}

.hand {
    width: 50%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .5s;
    transition-timing-function: cubic-bezier(0, 3.04, 0.65, 0.71)
}

.digital-clock {
    position: relative;
    display: flex;
    top: -1000px;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.44, 0.71, 0.67, 1.27);
}

.digital {
    width: 2em;
    height: 2em;
    margin: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.685);
}

.digital span {
    font-weight: 700;
    color: #fff;
}

.clockType {
    margin-bottom: 50px;
}

.clockType select {
    width: 100%;
    padding: .5rem;
}

.clockType label {
    display: block;
}